.cursor-outline {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f7ee30;
  transition: 0.1s ease;
}
.cursor-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f7ee30;
  transition: 0.07s ease;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}
